doctype html
html(lang="en")
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        link(rel='shortcut icon' href='' type='image/x-icon')
        title Wik
        //- LINK
        link(rel='stylesheet' href='fonts/fonts.css')
        link(rel='stylesheet' href='css/index.css')                     
          
    body 
        
        block content  
        include footer
        //- SCRIPT
        script(src='js/main.min.js')
        script(src='js/index.js')  