.hero {
    &::before {
        background: radial-gradient( 50% 50% at 50% 50%, rgba(255, 164, 164, 0.45) 0%, rgba(255, 150, 150, 0) 100%);
        max-width: 731px;
        max-height: 731px;
        content: "";
        @include size;
        @include position(absolute, $l: -270px, $t: 0);
    }
    &-icon {
        z-index: -1 !important;
        @include maxW($md-max) {
            display: none;
        }
        &.--play {
            @include position(absolute, $t: 0, $r: 200px);
        }
        &.--like {
            @include position(absolute, $t: -65px, $l: 375px);
        }
        &.--box {
            @include position(absolute, $b: 0, $r: 100px);
        }
    }
}

.statistics {
    background: $slate-cl;
}

.sidebar-left {
    max-width: 360px;
    .has-drop {
        max-height: 53px;
        @include transition(max-height $t ease);
        &.active {
            .has-drop-toggle {
                @include transform(none);
            }
        }
        &-toggle {
            @include transform(rotate(-180deg));
            @include transition(transform $t ease)
        }
    }
    .sidebar-menu {
        height: calc(100% - 250px);
        @include customscroll(5px, transparent, $slate-cl)
    }
    .sidebar-info {
        &-user {
            .user-work {
                @include size(6px);
                @include br(50%);
                &.--green {
                    background-color: $green-cl;
                }
            }
            .user-image {
                overflow: hidden;
                @include size(60px);
                @include br(50%);
            }
        }
    }
}