.textbox {
    .heading {
        &.--h1 {
            @include text(inherit, var(--h1-fs), var(--h1-lh));
        }
        &.--h2 {
            @include text(inherit, var(--h2-fs), var(--h2-lh));
        }
        // &.--h3 {
        //     @include text(inherit, var(--h3-fs), var(--h3-lh));
        // }
        // &.--h4 {
        //     @include text(inherit, var(--h3-fs), var(--h3-lh));
        // }
        // &.--h5 {
        //     @include text(inherit, var(--h3-fs), var(--h3-lh));
        // }
    }
    .text {
        &.--t28 {
            @include text(inherit, var(--t28-fs), var(--t28-lh));
        }
        &.--t24 {
            @include text(inherit, var(--t24-fs), var(--t24-lh));
        }
        &.--t22 {
            @include text(inherit, var(--t22-fs), var(--t22-lh));
        }
        &.--t21 {
            @include text(inherit, var(--t21-fs), var(--t21-lh));
        }
        &.--t20 {
            @include text(inherit, var(--t20-fs), var(--t20-lh));
        }
    }
}

.rl {
    font-family: "rl" !important;
}

.r {
    font-family: "r" !important;
}

.jb {
    font-family: "jb" !important;
}

.blue-cl {
    color: $blue-cl;
}

.btn-header {
    padding: 12px 23px;
    @include md {
        padding: 24px 57px;
    }
}

.btn-menu {
    padding: 10px;
    @include size(50px);
    @include flex;
    svg {
        min-width: 40px;
        position: absolute;
        @include size(40px);
        @include transition(transform $t ease);
        &:nth-of-type(2) {
            @include transform(scale(0));
        }
    }
    &.active {
        svg {
            &:nth-of-type(1) {
                @include transform(scale(0));
            }
            &:nth-of-type(2) {
                @include transform(scale(1));
            }
        }
    }
}

.darkmode-btn {
    cursor: pointer;
    @include transition( $t ease);
    transition-property: box-shadow, background;
    img {
        @include size(16px);
    }
    &.active {
        box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
        background: $white-cl;
    }
}