//======================================================BOXED LAYOUT=======================================================
$container-max-width: 100%;
$container-width: 1010px;

/*GRID - media queries breakpoints*/

$sm-min: 640px;
$md-min: 768px;
$lg-min: 1024px;
$xl-min: 1280px;
$xl2-min: 1536px;
$sm-max: ($sm-min - 1px); // Tablet
$md-max: ($md-min - 1px); // Desktop
$lg-max: ($lg-min - 1px); // Large Desktop
$xl-max: ($xl-min - 1px); // Mobile
$xl2-max: ($xl2-min - 1px); // Small Mobile
// colors
$white-cl: #fff;
$black-cl: #000;
$dark-cl: rgb(63, 63, 63);
$blue-cl: #6366f1;
$orange-cl: #e05023;
$green-cl: #059669;
$slate-cl: #e2e8f0;
// darkmode
$t: 0.5s;
:root {
    // font-size & line-height heading
    --h1-fs: 7.6rem;
    --h1-lh: 9.25rem;
    --h2-fs: 3.4rem;
    --h2-lh: 4.156rem;
    --body-fs: 1.8rem;
    --body-lh: 2.4rem;
    --t28-fs: 2.3rem;
    --t28-lh: 2.9rem;
    --t24-fs: 2.1rem;
    --t24-lh: 2.5rem;
    --t22-fs: 1.9rem;
    --t22-lh: 2.8rem;
    --t21-fs: 2.1rem;
    --t21-lh: 2.461rem;
    --t20-fs: 2rem;
    --t20-lh: 2.344rem;
    // Genaral Variable
    --gap: 30px;
    --pdss: 30px;
    --height-header: 69px;
    @media (max-width: $xl-max) {
        --h1-fs: 7rem;
        --h1-lh: 8rem;
    }
    @media (max-width: $lg-max) {}
    @media (max-width: $md-max) {
        --height-header: 54px;
        --h1-fs: 5rem;
        --h1-lh: 6rem;
        --h2-fs: 3rem;
        --h2-lh: 4rem;
        --t28-fs: 2rem;
        --t28-lh: 3rem;
        --t24-fs: 1.8rem;
        --t24-lh: 2.8rem;
    }
    @media (max-width: $sm-max) {}
}